<div class="block">
    <h3>Name_of_block</h3>
    <div class="block__content">
        <div class="articles articles__horizontal">
            <?php foreach ($this->products as $product):?>
            <article class="article">
                <?php ?>
                    <div class="article__image"
                         style="background-image: url();"></div>
                    <div class="article__info">
                        <a href="/"><?php echo $product['name'];?></a>
                        <div class="article__info__meta">
                            <small>Категория: <a href="/"><?php echo $product['name_category'];?></a></small><br>
                            <small>Цена: <?php echo $product['cost'];?> руб.</small><br>
                            <small>Продано: <?php echo $product['buy'];?> шт.</small>
                        </div>
                        <div class="article__info__preview"><?php echo mb_substr(strip_tags($product['description']), 0, 100, 'utf-8') . ' ...'; ?></div>
                    </div>
            </article>
            <?php endforeach;?>
        </div>
    </div>
</div>