<div class="block">
    <h3>Категории</h3>
    <div class="block__content">
        <div class="articles articles__horizontal">
            <?php foreach ($this->categories as $category):?>
                <article class="article">
                    <div class="article__image" style="background-image: url();"></div>
                    <div class="article__info">
                        <a href="<?php echo 'products/category/'.$category['url_name']?>"><?php echo $category['name'];?></a>
                    </div>
                </article>
            <?php endforeach;?>
        </div>
    </div>
</div>