<div class="block">
    <h3><?php echo $this->product['name'];?></h3>
    <h3>Продано: <?php echo $this->product['buy'];?></h3>
    <div class="block__content">
        <img src="<?php echo $this->product['image'];?>" style="max-width: 100%">
        <div class="full-text">
            <?php echo $this->product['description']; ?>
        </div>
    </div>
</div>