<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ITstore</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">

    <link rel="stylesheet" href="/assets/bootstrap-grid-only/css/grid12.css" >

    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div id="wrapper">
    <header id="header">
        <div class="header__top">
            <div class="container">
                <div class="header__top__logo">
                    <h1>ITstore</h1>
                </div>
                <nav class="header__top__menu">
                    <ul>
                        <li><a href="/">#Home</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="header__bottom">
            <div class="container">
                <nav>
                    <ul>
                        <li><a href="/">Главная</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="content">
        <div class="container">
            <div class="row">
                <section class="content__left col-md-8">
                    <?php echo $this->layout()->content; ?>
                </section>
            </div>
        </div>
    </div>
</div>
</body>
</html>